body {
  margin: 0;
}
.container {
  margin: 0;
}
.container h1 {
  border-bottom: #f2f2f2f2;
  border-bottom: solid;

  margin-left: 1rem;
  margin-right: 1rem;
}
.jumbotron {
  margin: 0;
  position: relative;
  padding-bottom: 50rem;
  background-image: url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2553&q=80");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.jumbotronText {
  position: absolute;
  bottom: 1rem;
  padding: 10px 20px 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #f2f2f2;
  font-size: 2rem;
  width: 100%;
}

.aContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  color: rgba(0, 0, 0, 0);
  margin-left: 2rem;
}

.imageBox {
  display: flex;
  margin-bottom: 2rem;
  position: relative;
}

.imageBox a {
  display: flex;
  justify-content: center;
}

.imageBox a {
  width: 95%;
}

.aContainer :hover span {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.5);
}

.imageBox span {
  padding: 3rem;
  position: absolute;
  left: 20%;
  bottom: 25%;
  font-size: 4rem;
  /* background-color: red; */
  text-align: center;
}
