.categoryContainer {
  background-color: #222222;
  color: #f2f2f2;
  margin: 0;
  margin-bottom: 2rem;
  margin-top: 0.3rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
}
.tabcontentSelected {
  flex: auto;
  margin: 0;
  text-align: center;
  color: #222222;
  background-color: #f2f2f2;
}

.tabcontentSelected a {
  text-decoration: none;
  color: #222222;
}

.tabcontent {
  flex: auto;
  margin: 0;
  text-align: center;
  border-right: #f2f2f2;
  border: solid;
}
.tabcontent a {
  text-decoration: none;
  color: #f2f2f2;
}

.tabcontent h1:hover {
  color: #ff8400;
}


