.blogListItemContainer {
  margin: 10px 10px 10px 10px;
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  height: 100%;
}

.title {
  height: 20%;
}

.title a {
  color: #ff7400;
  font-size: 2rem;
  text-decoration: none;
}

.title a:hover {
  color: #222222;
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
}

.title p {
  color: #222222;
  font-size: 2rem;
  text-decoration: none;
}
