.blogListContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style: none;
  margin: 0;
  background: white;
  width: 100%;
}

@media (min-width: 300px) {
  .blogListContainer {
    grid-template-columns: auto;
  }
}

@media (min-width: 600px) {
  .blogListContainer {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 1000px) {
  .blogListContainer {
    grid-template-columns: 33% 33% 33%;
  }
}
