.detailBlogContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.7;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.detailA {
  width: 60%;
}

.detailBlogContainer h3 {
  margin-top: 0;
  text-align: end;
}
